/* the one and only css is here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-mono text-slate-300;
    line-height: 1.5;
    font-weight: 400;

    background-color: #242424;
    color-scheme: light dark;
    
    /* render optimizations */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  }
}

@layer components {}

@layer utilities {}
